{% extends 'base.html' %}
{% block content %}
<h1>All Films ʕ•́ᴥ•̀ʔっ</h1>
{% for film in films_list %}
    <a href="/films/{{ film.id }}">
        <h3>Film: {{ film.title }}</h3>
    </a>
        <h5>{{ film.producer }}</h5>
        <h5>{{ film.rating }}</h5>
        <h5>{{ film.duration }}</h5>


    <hr>
{% endfor %}
    <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item {% if page == 1 %}disabled{% endif %}"><a class="page-link" href="/films/?page={{ previous }}">Previous</a></li>
      {% for button in buttons %}
                <li class="page-item {% if button == page %}active{% endif %}">
                    <a class="page-link"
                       href="/films/?page={{ button }}"> {{ button }} </a></li>
            {% endfor %}
    <li class="page-item {% if page == pages_amount %}disabled{% endif %}"><a class="page-link" href="/films/?page={{ next }}">Next</a></li>
  </ul>
</nav>
{% endblock %}